{:paths ["src" "resources" "test-sources"]
 :deps {org.clojure/clojure {:mvn/version "1.9.0"}
        org.clojure/tools.namespace {:mvn/version "0.2.11"}
        org.clojure/clojurescript {:mvn/version "1.10.339"}}}
