body {
   font-family: sans-serif;
   font-size: 11pt;
}

pre, code {
   font-family: monospace;
   font-size: 10pt;
}

.sidebar {
   position: fixed;
   top: 0;
   bottom: 0;
   width: 14em;
   overflow: auto;
}

.sidebar a {
   display: block;
   color: #333;
   text-decoration: none;
}

.sidebar h3 {
   margin: 0;
   padding: 0;
   font-size: 14pt;
   font-weight: normal
}

.sidebar h3 a {
   padding: 0.2em 0.5em 0 0.5em;
}

.sidebar ul {
   padding: 0.5em 0em;
   margin: 0;
}

.sidebar li {
   display: block;
}

.sidebar li a {
   padding: 0.5em 0.8em;
}

#namespaces li.current a {
   border-left: 0.3em solid #a33;
   padding-left: 0.5em;
   color: #a33;
}

#vars li.current a {
   border-left: 0.3em solid #33a;
   padding-left: 0.5em;
   color: #33a;
}

#namespaces {
   background: #e6e6e6;
   border-right: solid 1px #bbb;
   left: 0;
}

#vars {
   background: #eeeeee;
   border-left: solid 1px #bbb;
   border-right: solid 1px #ccc;
   left: 14em;
}

.namespace-index {
   margin-left: 15em;
}

.namespace-docs {
   margin-left: 29em;
}

.index {
   padding: 0;
}

.index * {
   display: inline;
}

.index li {
   padding: 0 .5em;
}

.index ul {
   padding-left: 0;
}

.usage code {
   display: block;
}
