body {
   font-family: sans-serif;
   font-size: 11pt;
   margin-left: 15em;
}

pre, code {
   font-family: monospace;
   font-size: 10pt;
}

#namespaces {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   width: 14em;
   background: #dddddd;
   border-right: solid 1px #bbbbbb;
   
}

.index {
   padding: 0;
}

.index * {
   display: inline;
}

.index li {
   padding: 0 .5em;
}

.index ul {
   padding-left: 0;
}

.usage code {
   display: block;
}
